.image-text
{
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    background: rgb(0 0 0 / 70%);
    position: relative;
    width: 100%;
    bottom: 30px;
    height: 30px;
    text-align: center;
}